@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_contianer{
    display: grid;
    height: 1100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11,1fr);
}
.page_contianer > div{
    width: 516px;
    height: 918px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    outline: 1px solid red;
}
.canvas_target{
    width: 100%;
    height: 100%;
}
.section_1{
  position: relative;
  background: url('fondo-arriba.svg');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}
.section_1 > p{
  position: absolute;
  top: 45px;
  margin-inline:auto ;
  width: 95%;
  height: fit-content;
  font-size: 30px;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-weight: 300;
  font-style: normal;
}
.section_1--counter{
  width: 100%;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section_1--counter > div{
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
  background-image: linear-gradient(white,rgb(255, 255, 255))
  ,linear-gradient(90deg,#9b5a01, #cbac44  );
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.section_1--counter > div >span{
  width: calc(100% - 4px);
  display: block;
  height:calc(100% - 4px) ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  border: 0.5px solid transparent;
  border-radius: 50%;
  position: relative;
  background-image: linear-gradient(white,white)
  ,linear-gradient(90deg,#9b5a01, #cbac44  );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.circle_times_animation_1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}
.circle_times_animation_2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}
.circle_times_animation_3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}
.circle_times_animation_4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}
@keyframes scaleframe {
    0% {
      transform: scale(1.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .section_2{
    position: relative;  
    background: url('fondo-abajo.svg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -5;
  }
  .section_2 > canvas{
    opacity: 0;
    z-index: 2;
  }
  .section_2 > p{
    opacity: 0;
  }
  .section_2_text {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.4); 
    animation: fadeInScale 8s ease-in-out forwards; 
    line-height: 60px;
    font-size: 40px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: #cbac44;
    letter-spacing: 2px;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
}
.section_2--background_card{
  width: calc(100% - 3px);
  height:calc(100% - 3px) ;
  border-radius: 50%;
  background: url('fondo-abajo.svg');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.4); /* Escala inicial y centrado */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1); /* Escala final y centrado */
    }
}

.scale_section_2{
  animation-name: scaleframe;
  animation-duration: 7s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
@keyframes scaleOuterCircle {
  0% {
    transform: translate(-50%, -50%) scale(0.4); 
}
100% {
    transform: translate(-50%, -50%) scale(1); 
  }
}
.section_2-outer_circle{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4);
  animation-name: scaleOuterCircle;
  animation-duration: 1.5s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white,white)
  ,linear-gradient(90deg,#9b5a01, #cbac44  );
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: -1;
}
@keyframes scaleInnerCircle {
      0% {
        transform: translate(-50%, -50%) scale(0.4); 
      /* Escala inicial y centrado */
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* Escala final y centrado */

    }
}
.section_2-inner_circle{
  position: absolute;
  width: 280px;
  height: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(0.4);
  animation-name: scaleInnerCircle;
  animation-duration: 2.4s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white,white)
  ,linear-gradient(90deg,#9b5a01, #cbac44  );
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_3{
  position: relative;
  background: url('fondo-arriba.svg');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  
}
.section_3 > img{
  opacity: 0;
}
@keyframes fadeCanvas3 {
  0% {
       opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
.canvas_section_3{
  opacity: 1;
  animation-name: fadeCanvas3;
  animation-duration: 7s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
  z-index: 3;
}
@keyframes fadeInText {
 0% {
      opacity: 0;
      top: 60%;
    }
    100% {
        opacity: 1;
        top: 85%;
    }
}

@keyframes scaleSquares {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.4) rotateZ(-45deg); /* Escala inicial y centrado */
}
100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotateZ(0deg); /* Escala final y centrado */
}
}
@keyframes scaleSquares_rotate {
      0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotateZ(-5deg) scale(0.4) rotateZ(-45deg); /* Escala inicial y centrado */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotateZ(-5deg) scale(1) rotateZ(0deg); /* Escala final y centrado */
    }
}
@keyframes scaleImage {
      0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.2) rotateZ(-30deg); /* Escala inicial y centrado */
    }
    100% {
      opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotateZ(0deg); /* Escala final y centrado */
    }
}
.section_3--wedding-text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 75%;
  opacity: 0;
  height: fit-content;
  font-size: 35px;
  text-align: center;
  animation-name: fadeInText;
  animation-duration: 2.5s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #cbac44;
}

.img_wedding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2) rotateZ(-30deg);
  width: 230px;
  height: 230px;
  animation-name: scaleImage;
  animation-duration: 5.5s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.first_square{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4) rotateZ(-45deg); 
  animation: scaleSquares 4.5s ease-in-out forwards;
  width: 250px;
  height: 250px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg,#cbac44 70% ,white 76%,#cbac44 );
  border-image-slice: 1;
}
.second_square{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-5deg) scale(0.4) rotateZ(-45deg); 
  animation: scaleSquares_rotate 5s ease-in-out forwards;
  width: 250px;
  height: 250px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg,#cbac44 ,white 16%,#cbac44 25%);
  border-image-slice: 1;
}
.section_4 {
  position: relative;
  background: url('fondo-abajo.svg');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -4;
}
.section_4 > canvas{
  opacity: 0;
}
.section_4 > p{
  opacity: 0;
}
@keyframes scalePhrase {
  0% {
    transform: translate(-50%, -50%) scale(0.2); 
    color: transparent;
    opacity: 0;
  }
50%{
  transform: translate(-50%, -50%) scale(1.2); 
  color: #9b5b0171;
  opacity: 0.25;
}
75%{
  transform: translate(-50%, -50%) scale(1.1); 
  color: #9b5b0171;
  opacity: 0.75;
}
100% {
    transform: translate(-50%, -50%) scale(1); 
    color: #9b5a01;
    opacity: 1;
  }
}
.phrase_bible{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  font-size: 20px;
  background-color: rgba(255, 99, 71, 0.181);
  z-index: -1;
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-style: normal;
  color: #9b5a01;
  transform: translate(-50%, -50%) scale(0.4) ; 
  animation: scalePhrase 3.8s linear forwards;
}
.section_4-outer_circle{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4);
  animation-name: scaleOuterCircle;
  animation-duration: 1.5s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white,white)
  ,linear-gradient(90deg,#9b5a01, #cbac44  );
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: -2;
}
.section_4-inner_circle{
  position: absolute;
  width: 280px;
  height: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(0.4);
  animation-name: scaleInnerCircle;
  animation-duration: 2.4s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white,white)
  ,linear-gradient(90deg,#9b5a01, #cbac44  );
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: -2;
}
@keyframes scaleframe_section4 {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  50%{
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.scale_section_4{
  animation-name: scaleframe_section4;
  animation-duration: 7.6s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.section_5{
  position: relative;
}
.section_5 > canvas{
  opacity: 0;
}
.section_5 > div{
  position: absolute;
  width: 80%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 40% 30%;
  color: transparent;
}
@keyframes fadeInScale_text_section5 {
  0% {
      opacity: 0;
      transform: scale(0.4); /* Escala inicial y centrado */
  }
  100% {
      opacity: 1;
      transform: scale(1); /* Escala final y centrado */
  }
}

.section_5--title{
  font-size: 30px;
  width: 85%;
  height: fit-content;
  text-decoration: underline;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: auto;
  color: #9b5a01;
  margin-inline: auto;
  text-align: center;
  opacity: 0;
  animation: fadeInScale_text_section5 4s ease-in-out forwards; 
}
.section_5--godparents_container{
  width: 100%;
  height: 90%;
  display: grid;
  place-items: center;
  margin: auto;
}
.section_5--names_persons{
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: normal;
  color: #9b5a01;
  font-size: 20px;
  width: 80%;
  margin-inline: auto;
  text-align: center;
  height: fit-content;
  margin-bottom:auto;
}
@keyframes scaleframe_section5 {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  50%{
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.scale_section_5{
  animation-name: scaleframe_section4;
  animation-duration: 7.6s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
@keyframes scaleframe_section6 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section_6{
  position: relative;
}
.section_6 > img{
  opacity: 0;
}
.section_6 > canvas{
  z-index: 2;
}
.scale_section_6{
  animation-name: scaleframe_section6;
  animation-duration: 7.6s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
@keyframes scaleframe_section7 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%)  scale(0.4);
  }
  100% {
    opacity: 1;
    transform:  translate(-50%, -50%) scale(1);
  }
}
@keyframes fadeCanvas_section7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section_7{
  position: relative;
}
.section_7 > canvas{
  opacity: 0;
}
.section_7 > section{
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
  opacity: 0;
}
.scale_section_7{
  animation-name: scaleframe_section7;
  animation-duration: 7.6s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.canvas_section_7{
  animation-name: fadeCanvas_section7;
  animation-duration: 5.6s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.section_7--title{
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #9b5a01;
  font-size: 35px;
  letter-spacing: 5px;
}
.section_7--date{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
}
.section_7--date > p{
  width: 100%;
  height: fit-content;
  border-top: 2px solid #9b5a01;
  border-bottom: 2px solid #9b5a01;
  margin: auto;
  color: #9b5a01;
  font-size: 20px;
  text-align: center;
}
.section_7--date_description{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 40% 30%;
}
.section_7--date_description > p{
  width: fit-content;
  height: fit-content;
  margin: auto;
  color: #9b5a01;
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
.section_7--date_description > p:nth-child(2){
  font-size: 40px;
}
.section_7--see_map{
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 16px;
  border-radius:  10px / 50%;
  background-color: rgb(89, 3, 89);
  color: white;
  padding: 5px 7px;
  border: none;
}
.section_7--description_event{
  width: 100%;
  height: 100%;
  display: grid;
}
.section_7--description_event > h4{
  height: fit-content;
  width: fit-content;
  margin: auto;
  font-size: 30px;
  border-bottom: 1px solid #9b5a01 ;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #9b5a01;
}
.section_7--description_event > p{
  color: #9b5a01;
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  width: fit-content;
  margin: auto;
  text-align: center;
}
.section_8{
  position: relative;
}
@keyframes scaleframe_section8 {
  0% {
    transform:  translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
  50%{
    transform:  translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  100% {
    transform:  translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes scaleframe_section_frame8 {
  0% {
    transform: scale(0.5);
  }
  
  100% {
    transform:  scale(1);
  }
}
.section_8 > canvas{
  opacity: 0;
}
.section_8 > section{
  position: absolute;
  opacity: 0;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  outline: 2px solid #9b5a01;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.scale_section_8{
  animation-name: scaleframe_section8;
  animation-duration: 7.6s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.section_8--container_info{
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border: 2px solid #9b5a01;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 25% 10% 35%;
  animation-name: scaleframe_section_frame8;
  animation-duration: 2s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.section_8--container_info_title{
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  margin-inline:auto;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #9b5a01;
  font-size: 28px;
  text-decoration: underline;
}
.section_8--container_description{
  width: fit-content;
  height: fit-content;
  margin: auto;
  color: #9b5a01;
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}
.section_8--container_info > button{
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 16px;
  border-radius:  10px / 50%;
  background-color: rgb(89, 3, 89);
  color: white;
  padding: 5px 7px;
  border: none;
}
.section_8--clothes{
  width: 90%;
  height: 80%;
  outline: 1px solid greenyellow;
  margin: auto;
  display: grid;
}
.section_8--clothes > p{
  width: fit-content;
  height: fit-content;
  margin-inline:auto ;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #9b5a01;
  font-size: 28px;
  text-decoration: underline;
}
.section_9{
  position: relative;
}
@keyframes fade_section_9 {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
.section_9 > canvas{
  opacity: 0;
}
.animate_section_9_canvas{
  animation-name: fade_section_9;
  animation-duration: 2s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.section_9 > section{
  position: absolute;
  width: 80%;
  height: 65%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  opacity: 0;
  grid-template-rows: 20% 30% 50%;
}
.animate_section_9{
  animation-name: fade_section_9;
  animation-duration: 2s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.section_9--title{
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #9b5a01;
  margin-inline: auto;
  font-size: 30px;
  text-decoration: underline;
}
.section_9--description{
  width: 70%;
  height: fit-content;
  margin: auto;
  text-align: center;
  color: #9b5a01;
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
.section_9--medias{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,1fr);
}
.section_9--medias > div{
  width: 80%;
  height: 100%;
  display: grid;
  margin: auto;
  font-size: 20px;
  place-items: center;
  color: #9b5a01;
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: normal;
}
.section_10{
  position: relative;
}
.section_10 > canvas{
  opacity: 0;
}
.section_10 > section{
  position: absolute;
  width: 80%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 50% 20%;
}
@keyframes scaletext_section10 {
  0% {
    opacity: 0;
    transform:  scale(0.4);
  }
  100% {
    opacity: 1;
    transform:  scale(1);
  }
}
@keyframes see_btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section_10 > section > h3{
  opacity: 0;
}
.section_10 > section > p{
  opacity: 0;
}
.section_10--title{
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  opacity: 0;
  color: #9b5a01;
  margin-inline: auto;
  font-size: 30px;
  text-decoration: underline;
  animation-name: scaletext_section10;
  animation-duration: 2s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.section_10--description{
  font-size: 20px;
  place-items: center;
  color: #9b5a01;
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  height: fit-content;
  margin: auto;
  text-align: center;
  animation-name: scaletext_section10;
  animation-duration: 2s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.btn_assist{
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 16px;
  border-radius:  10px / 50%;
  background-color: rgb(89, 3, 89);
  color: white;
  padding: 5px 7px;
  border: none;
  animation-name: scaletext_section10;
  animation-duration: 2s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards;
}
.section_11{
  position: relative;
}
.section_11 > canvas{
  opacity: 0;
}
.section_11 > section{
  position: absolute;
  width: 80%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.section_11 > p {
  font-size: 25px;
  line-height: 30px;
  opacity: 0;
}